*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}
body{
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}
nav a{
    margin-bottom: 15px;
    color: #444;
    transition: 0.1s;
    user-select: none;
    font-size: 36px;
    text-decoration: none;
}
nav a:hover{
    color: #000;
    transition: 0.2s;
    cursor: pointer;
}
nav a:active{
    color: #666;
    font-size: 34px;
}

nav{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #222;
    border-radius: 10px;
}

nav div{
    text-align: center;
    padding-top: 15px;
    font-size: 24px;
    font-weight: bold;
    flex:1;
}

.container{
    display: flex;
    flex-direction: row;

}

main{
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    
}
main div h2{
    font-family: Arial;
    margin-bottom: 10px;
}
main div button{
    background: #777;
    padding: 20px;
    border-radius: 10px;
    color: #333;
    border: none;
    margin-top: 20px;
}
aside{
    width: 25%;
    background: #777;
    padding-left:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #333;
    border-radius: 10px;
}

aside ul{
    
    padding: 10px ;
    list-style: inside;
    
}
aside ul li{
    display: flex;
    align-items: center;
    padding: 6px 0;
    font-size: 20px;
}
.icons{
    margin-right:10px;
}
#csharp{
    height: 48px;
    width: 48px;
}
footer{
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    background-color: #222;
    color: #fff;
    border-radius: 10px;
}

