*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}
body{
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

nav a{
    
    color: #444;
    transition: 0.1s;
    user-select: none;
    font-size: clamp(12px, 32px, 2vw);
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;        /* prevent wrapping */
    overflow: hidden;
    text-overflow: ellipsis;
}
nav a:hover{
    color: #000;
    transition: 0.2s;
    cursor: pointer;
}
nav a:active{
    color: #666;
    font-size: calc(clamp(12px, 32px, 2vw) + 2px);
}

nav{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #222;
    border-radius: 10px;
    position: relative;
    
}

nav div{
    text-align: center;
    padding-top: 1vw;
    font-size: 24px;
    font-weight: bold;
    flex:1 1 auto;
    max-height: 100%;
}

.container{
    display: flex;
    flex-direction: row;

}

main{
    width: 75%;
    margin: 0 auto;
    padding: 20px;
    
}
main div p {
    font-size: clamp(4px,14px,2vw);
    margin-bottom: 20px;
}
main div h2{
    font-family: Arial;
    margin-bottom: 10px;
}
main div button{
    background: #777;
    padding: 20px;
    border-radius: 10px;
    color: #333;
    border: none;
    margin-top: 20px;
}
aside{
    width: 25%;
    background: #777;
    padding-left:min(20px, 3%);
    padding-top:min(20px, 3%);
    padding-bottom: min(20px, 3%);
    color: #333;
    border-radius: 10px;
}
aside h3{
    font-size: clamp(7px,24px,1.7vw);
    margin-bottom: 10px;
}

aside ul li{
    display: flex;
    align-items: center;
    padding: 6px 0;
    font-size: clamp(6px,20px,1.5vw);
}
.icons{
    margin-right:10px;
    height: 3vw;
    width: 3vw;
}

footer{
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    background-color: #222;
    color: #fff;
    border-radius: 10px;
    font-size: clamp(10px,16px,3vw);
}

