@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}


