.main_p{
    font-size: clamp(4px,14px,2vw);
    margin-bottom: 20px;
    
}
.main_h2{
    font-family: Arial;
    margin-bottom: 10px;
    font-size: 30px;
}
.main_button{
    background: #777;
    padding: 20px;
    border-radius: 10px;
    color: #333;
    border: none;
    margin-top: 20px;
    margin-left:10px
}